
  


<div class="container">

  <h1>{{title}}</h1>
  <div *ngFor="let quiz of initialQuiz" class="card">

    <div>
      <div class="pieza">{{quiz.first}}</div>
      <div class="pieza operation">{{quiz.operation}}</div>
      <div class="pieza">{{quiz.second}}</div>
      <div class="pieza">=</div>
      
      <input type="text" [value]="quiz.user" class="pieza result"/> 

      <!-- Mostramos validacion-->
      <div *ngIf ="quiz.validation != null">
          <div *ngIf= "quiz.validation;else elseBlock" class="right">v</div>
              <ng-template #elseBlock>
                  <div class="wrong">x</div>
                </ng-template>
             </div>
      
          </div>
       </div>
    <button (click)="validate()">Validar</button>

</div>
 
