.pieza{
  font-size: medium;
  width: 0.8em;
  color:rgb(57, 56, 56);
  background-color: antiquewhite;
  border: 2px rgb(58, 58, 59) solid;
  padding: 9px;
  display: inline-block;
}
.wrong{
  display: inline-block;
  padding: 9px;
  color:red;
}
.right{
  display: inline-block;
  padding: 9px;
  color:green;
}
.operation{
  background-color: gray;
}
.result{
  border: 2px rgb(58, 58, 59) dotted;
background-color: rgb(26, 98, 169);
color: black;
}